useDynLib(CopulaGAMM,.registration = TRUE)
export(expcond)
export(invfunc)
export(pcond)
export(pcondgal,pcondgum,pcondhr,pcondpla,pcondcla,pcondfrk,pcondfgm,pcondjoe, pcondt,pcondnor)
export(pseudosC)
export(qcond)
export(qcondnor, qcondt, qcondjoe,qcondcla,qcondfra, qcondpla,qcondgum, qcondfgm, qcondgal, qcondhr)
export(predictDiscrete)
export(EstDiscrete)
export(predictContinuous)
export(EstContinuous)
export(MAP.discrete)
export(MAP.continuous)
export(predictCopulaGAMM)
export(EstCopulaGAMM)
export(coplik)
export(fnorders,ftders,ftdersP,fjoeders,fpladers,fmtcjders,ffrkders,fgumders,ffgmders,mlecop,mlecop.disc )
export(SimMultinomial)
export(SimGenCluster)
export(linkCop)
export(dcop)
export(dgal,dgum,dhr,dpla,dmtcj,dfrk,dfgm,djoe, dbvtcop,dbvncop, dbvn, dbvn2)
export(margins)
export(berncpdf,poiscpdf,nbinomcpdf,nbinom1cpdf,geomcpdf,multinomcpdf,expcpdf,weibcpdf,normcpdf,tcpdf,lapcpdf)
importFrom("stats","nlm", "dpois","ppois","qpois", "dgeom","pgeom" , "dnbinom","pnbinom", "dnorm", "qnorm", "dt","qt","pnorm","runif","pt","integrate","cov", "qgeom", "qnbinom", "qweibull","qexp")
importFrom("statmod","gauss.quad.prob")
importFrom("matrixStats","colProds","rowCumsums")
